<% if !photo['nsfw'] %>
  <div>
    <%# photo['id'] %>
    <%= link_to('See on 500px', "https://www.500px.com#{photo['url']}") %>
    <%= photo['rating'] %>
    <%= image_tag(photo['image_url'], alt: photo['name'])%>
  </div>
<% end %>