div.photos-container {
  position: relative;
  .card.large {
    height: 60vh;
  }
  div.valign-wrapper {
    height: 88%;
    img {
      margin: auto;
      max-height: 99%;
      max-width: 99%;
      height: auto;
      width: auto;
     }
  }
  div.card-content {
    padding: 1em;
    border-top: 1px solid lightgray;
    height: 3em;
    line-height: 2em;
    span a {
      color: #4C4C4C;
      font-weight: 700;
    }
  }
  span.rating,
  span.like-btn {
    position: absolute;
  }
  span.rating {
    right: 3em;
  }
  span.like-btn {
    transition: all ease .5s;
    right: 1em;
  }
  span.like-btn:hover {
    color: crimson;
  }
}
img.img-zoomed {
          background-clip: padding-box;
     -moz-background-clip: padding;
  -webkit-background-clip: padding;
  border: 1000px solid rgba(0,0,0,0.4);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}