<div class="navbar">
  <nav>
    <div class="nav-wrapper white">
      <a href="#!" class="brand-logo center blue-text">
        <%= image_tag "500px-definitely-swiped-logo.png", alt: "500px logo (not my logo!)" %>
        Top 100
      </a>
      <ul class="right">
        <% if current_user %>
        <li class="black-text">
          Welcome, <%= current_user.name %>
        </li>
        <% end %>
        <%= render 'layouts/nav_links' %>
      </ul>
    </div>
  </nav>
</div>