<% if session[:oauth] %>
  <li>
    <a class="tooltipped"
       data-position="left"
       data-delay="10"
       data-tooltip="Logout"
       href="/logout"
    >
      <i class="material-icons blue-text">input</i>
    </a>
  </li>
<% else %>
  <li>
    <a class="tooltipped"
       data-position="left"
       data-delay="10"
       data-tooltip="sign into 500px"
       href="/auth/500px"
       onclick="window.open('print.html', 'newwindow', 'width=300, height=250'); return false;">
    >
      <i class="material-icons blue-text">perm_identity</i>
    </a>
  </li>
<% end %>